.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 5%;
    text-align: center;
    background-color: #f1f1f1;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 16px 10px 15px -3px rgba(0,0,0,0.1);
  }
  
  input, select {
    margin: 10px;
    padding: 5px;
    // font-size: 16px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  p {
    font-size: 1.2em;
  }


  .filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    .filter {
        padding: 5px;
        border: 2px solid #505076;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }
  }



/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #f1f1f1;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 240px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #3a3a3a;
    color: #f1f1f1;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

.title_style{
    font-family: helvetica, arial;
    background: #57bdaf;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
    line-height: 40px;
    text-transform: uppercase;
    box-shadow: -5px 5px 20px -10px #333;
    color: #333;
    letter-spacing: 5px;
  }
  
  .title_style:before{
     content: ' ';
     width: 0;
     height: 0;
     border-right: 20px solid #57bdaf;
     border-top: 60px solid transparent;
     border-bottom: 0px solid transparent;
     position: absolute;
     top: 0;
     left: -20px;
  }
  
  .title_style:after{
     content: ' ';
     width: 0;
     height: 0;
     border-left: 20px solid #57bdaf;
     border-top: 0px solid transparent;
     border-bottom: 60px solid transparent;
     position: absolute;
     top: 0;
     right: -20px;
  }


  .itemList {
    background: #3a3a3a;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 2px;
    color: #f1f1f1;
  }
